# PHP
.php_cs.cache
.phpunit.result.cache
composer.lock
vender/

# Entorno
.env
.env.local

# Archivos de Sistema
Thumbs.db
desktop.ini
.DS_Store

# Carpeta de subidas (Recomendado ignorar para no subir fotos personales)
uploads/*
!uploads/.gitkeep
